body {
    font: 13px Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font: 18px Arial, sans-serif;
    color: #454545;
    font-weight: bold;
}

p {
    margin: 50px;
    color: #7a7a7a;
}

blockquote {
    font: 14px Arial, sans-serif ;
    background: #e7f2fa;
    color: #444;
}

a {
    color: #8870FF
}
